<div class="details">
  <h1 class="title">{{course.name}}</h1>
  <img src="{{course.image}}" class="logo">
  <star-rating value="{{course.currentRating}}" totalstars="5" checkedcolor="gold"
               uncheckedcolor="white" size="32px" readonly="{{!(isLogged() && isEnrolledAndNotVote())}}" (rate)="rating($event)"></star-rating>
  <div class="info"><h3>Prowadzący: </h3><p> {{course.teacherName}}
    {{course.teacherLastname}}</p></div>
  <div class="info"><h3>Liczba ECTS: </h3> <p>{{course.ECTS}}</p> </div>
  <div class="info"><h3>Semestr: </h3> <p>{{course.semester}}</p></div>
  <div class="info"><h3>Maksymalna liczba uczestników: </h3> <p>{{course.maxParticipants}}</p></div>
  <div class="form">
    <h3>Forma zajęć:</h3>
    <p *ngFor="let form of course.form"> {{form}}, </p>
  </div>
  <div class="description"><h3>Opis kursu:</h3>
  <p>{{course.description}}</p></div>
  <p class="button"><mat-button-toggle *ngIf="isLogged()" (click)="enroll()">Zapisz się na kurs</mat-button-toggle> </p>
  <p class="messege">{{errorMessege}}</p>
  <p class="button"><mat-button-toggle [routerLink]="['/course-list']">Powrót do listy kursów</mat-button-toggle></p>
</div>
