.details{
  grid-template-columns: auto auto auto;
  background-color: rgba(0, 153, 153, 0.5);
  padding: 2vh;
  width: 60%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 8px;
  border: solid rgba(0, 153, 153, 0.5);
}
.title{
  text-align: center;
  grid-column: span 3;
  color: #004d4d;
}
.logo{
  height: 40vh;
  width:20vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  grid-column: span 3;
  margin-bottom: 4vh;
}

.details star-rating{
  text-align: center;
}

.description p{
  font-size: 2.5vh;
}

.info h3{
  color: #004d4d;
  display: inline;
}

.info p{
  display: inline;
  font-size: 2.5vh;
}

.info{
  margin-bottom: 3vh;
  margin-top: 3vh;
}

.form h3{
  color: #004d4d;
  display: inline;
}
.form p{
  display: inline;
  font-size: 2.5vh;
}

.description h3{
  color: #004d4d;
}

.button{
  text-align: right;
}
.messege{
  color: floralwhite;
  font-size: 3vh;
  text-align: right;
}

@media screen and (max-width: 1025px){
  .details{
    width: 90%;
  }
  .logo{
    height:50vw;
    width: 50vw;
  }
}
