.grid{
  display: grid;
  grid-template-columns: auto auto auto;
}

app-course:nth-child(odd){
  background-color: 	#f0cdc2;
}

app-course:nth-child(even) {
  background-color: #faecd1;
}

.filter{
  grid-column: span 3;
  width: 30%;
}


.filter h4{
  color: #004d4d;
}

